{% extends 'base.html.twig' %}

{% block title %}{{ 'auth.sign_in.title'|trans({}, 'auth') }} | Portal IASDCanelas{% endblock %}

{% block body %}
    <main class="d-flex flex-column justify-content-center vh-100">
      <section>
        <div class="container">
          <div class="row mb-8">
            <div class="col-xl-4 offset-xl-4 col-md-12 col-12">
              <div class="text-center">
                <a href="{{ path('app_home') }}" class="fs-2 fw-bold d-flex align-items-center gap-2 justify-content-center mb-6">
                  <img class="mw-100" src="{{ asset('images/brand/logo/portal_logo_white.png') }}" alt="Logo Portal IASDCanelas" />
                </a>
                <h1 class="mb-1">{{ 'auth.sign_in.title'|trans({}, 'auth') }}</h1>
                <p class="mb-0">
                  {{ 'auth.sign_in.no_account'|trans({}, 'auth') }}
                  <a href="{{ path('auth_register') }}" class="text-primary">{{ 'auth.sign_in.register_here'|trans({}, 'auth') }}</a>
                </p>
              </div>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-xl-5 col-lg-6 col-md-8 col-12">
              <div class="card card-lg mb-6">
                <div class="card-body p-6">

                  {% if error %}
                    <div class="alert alert-danger mb-4">
                      {{ error.messageKey|trans(error.messageData, 'security') }}
                    </div>
                  {% endif %}

                  {% for label, messages in app.flashes %}
                    {% for message in messages %}
                      <div class="alert alert-{{ label }} mb-4">
                        {{ message|trans({}, 'auth') }}
                      </div>
                    {% endfor %}
                  {% endfor %}

                  <form method="post" action="{{ path('auth_login') }}" class="mb-6">
                    <div class="mb-3">
                      <label for="signinEmailInput" class="form-label">
                        {{ 'auth.sign_in.email'|trans({}, 'auth') }}
                        <span class="text-danger">{{ 'auth.sign_in.required'|trans({}, 'auth') }}</span>
                      </label>
                      <input type="email" class="form-control" id="signinEmailInput" name="_username" value="{{ last_username }}" required autofocus />
                    </div>
                    <div class="mb-3">
                      <label for="formSignUpPassword" class="form-label">{{ 'auth.sign_in.password'|trans({}, 'auth') }}</label>
                      <div class="password-field position-relative">
                        <input type="password" class="form-control fakePassword" id="formSignUpPassword" name="_password" required />
                        <span><i class="ti ti-eye-off passwordToggler"></i></span>
                      </div>
                    </div>

                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />

                    <div class="mb-4 d-flex align-items-center justify-content-between">
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="rememberMeCheckbox" name="_remember_me" />
                        <label class="form-check-label" for="rememberMeCheckbox">{{ 'auth.sign_in.remember_me'|trans({}, 'auth') }}</label>
                      </div>

                      <div><a href="{{ path('auth_forgot_password') }}" class="text-primary">{{ 'auth.sign_in.forgot_password'|trans({}, 'auth') }}</a></div>
                    </div>

                    <div class="d-grid">
                      <button class="btn btn-primary" type="submit">{{ 'auth.sign_in.submit'|trans({}, 'auth') }}</button>
                    </div>
                  </form>

                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <div class="position-absolute end-0 bottom-0 m-4">
        <div class="dropdown">
          <button class="btn btn-light btn-icon rounded-circle d-flex align-items-center" type="button" aria-expanded="false" data-bs-toggle="dropdown" aria-label="Toggle theme (auto)">
            <i class="bi theme-icon-active lh-1"><i class="bi theme-icon bi-sun-fill"></i></i>
            <span class="visually-hidden bs-theme-text">Toggle theme</span>
          </button>
          <ul class="dropdown-menu dropdown-menu-end shadow">
            <li>
              <button type="button" class="dropdown-item d-flex align-items-center active" data-bs-theme-value="light" aria-pressed="true">
                <i class="ti theme-icon ti ti-sun"></i>
                <span class="ms-2">Light</span>
              </button>
            </li>
            <li>
              <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="dark" aria-pressed="false">
                <i class="ti theme-icon ti-moon-stars"></i>
                <span class="ms-2">Dark</span>
              </button>
            </li>
            <li>
              <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="auto" aria-pressed="false">
                <i class="ti theme-icon ti-circle-half-2"></i>
                <span class="ms-2">Auto</span>
              </button>
            </li>
          </ul>
        </div>
      </div>
    </main>

    {% block javascripts %}
      <script src="{{ asset('js/vendors/password.js') }}"></script>
    {% endblock %}
{% endblock %}
